* {
    font-family: 'Montserrat', sans-serif;
    color: lavender;


}

#grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-areas:
        "header header header header"
        "main main main aside"
        "main main main aside"
        "footer footer footer footer"
    ;

}

body {
    background-image: url(../assets/desktop-wallpaper-dark-gray-background-texture-gray.jpg);
    margin: 0px;



}

/* HEADER */
header {
    background-color: black;
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    grid-area: header;
    height: 100px;
}



header nav ul {
    display: flex;
    justify-content: space-around;
}


body header nav ul li {


    list-style: none;

}

body header nav ul button a {
    color: inherit;
    /* This sets the link color to inherit from its parent element */
    text-decoration: none;
}

/*MAIN*/
main {
    grid-area: main;
}



main section article {
    height: 5%;
}



main section article div {
    display: flex;

}

.container {
    display: flex;
    flex-direction: row;

}

.noticiaUno div {
    flex-direction: column;
}






/*ASIDE*/
aside {
    padding: 10px;
    max-width: 100%;
    grid-area: aside;
}

aside h3 {
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/*FOOTER*/

footer {
    grid-area: footer;
}

.fondoVerde {
    background-color: green;
}

@media screen and (max-width: 768px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 0.5fr 5fr 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "aside aside"
            "footer footer"
        ;
    }

    header {
        grid-area: header;

    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
    }

    footer {
        grid-area: footer;
    }

    .noticiaDos div {
        display: flex;
        flex-direction: column;
    }


}

/*plantel.html*/